{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link rel="login logo" type="image/x-icon" href="{% static 'img/logo2.jpg' %}">
    <title>로그인 페이지</title>
</head>

<body>
    <div class="login_container">
        <img class="logo_login" src="{% static 'img/account/logo3.png' %}">
        {% block content %}
        <form method="POST" action="{% url 'login' %">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="login_button" type="submit"> 로그인 </button>
        </form>
        {% endblock %}
    </div>
    <img class="back_login" src="{% static 'img/account/logo4.png' %}">
</body>

</html>