{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
    <link rel="login logo" type="image/x-icon" href="{% static 'img/logo2.jpg' %}">
    <title>회원가입 페이지</title>
</head>

<body>
    <div class="signup_container">
        <form method="POST" action="{% url 'signup' %}">
            {% csrf_token %}
            {% for field in form %}
            {{ field.label }}
            <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}">
            {% endfor %}
            {{form.as_p}}
            <button class="signup_button" type="submit"> 회원가입 </button>
        </form>
    </div>
    <img class="back_signup" src="{% static 'img/account/logo4.png' %}">
    <script src="{% static 'js/signup.js' %}"></script>
    <!-- 아니면 src인가..?-->
</body>

</html>