@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    margin-top: 10vh;
    color: white;
    font-family: 'GangwonEdu_OTFBoldA';
    background-color: #403964;
}
.login_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 30%;
    vertical-align: middle;
}

.logo_login {
    width: 40%;
}

.back_login {
	width: 60vh;
	height: auto;
	bottom: 0;
    float: right;
}
/*
.back_login {
    width: 40%;
    height: 100%;
    float: right;
    bottom: 0;
    margin-top: 10%;
}
*/
#id_username, #id_password {
    font-family: 'GangwonEdu_OTFBoldA';
    color: rgb(255, 255, 255);
    background-color: #403964;
    margin-left: 0.4cm;
    border: none;
    width: 172px;
    border-bottom: 1px solid #FFFFFF;
}

#id_username:hover, #id_password:hover {
    border-bottom: 1px solid #FFBA00;
    color: #FFBA00;
}

.login_button {
    font-family: 'Pretendard-Regular';
    background-color: #8F87A7;
    width: 100%;
    height: 2rem;
    color: white;
    border: none;
    border-radius: 10px;
}